    <div class="page-header text-user">
        <h1><span class="fa fa-cutlery"></span> ADMIN PAGE</h1>
    </div>
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-table"></span> Meal Deal Users</h3>

                  <% for(var i=0; i < users.length; i++) {  %>
                        <ul>
                          <li><b>Name : </b> <%= users[i].local.name %></li>
                          <li><b>Email : </b> <%= users[i].local.email %></li>
                          <li><b>Vendor : </b> <%= users[i].local.isvendor %></li>
                          <li><b>Businessname : </b> <%= users[i].local.businessname %></li>
                          <li><%- link_to('show', 'admin/'+users[i].id) %></li>
                          
             
                        </ul>
                    <% } %>


            </div>
        </div>
